body {
	display: flex;
	flex-direction: column;
	font-family: Arial;
}

.nav-bar {
	background: #FFB4B0;
	width: 80%;
	height: 100px;
	margin: 0 auto 10px auto;
	border: 2px solid black;
	display: flex;
}

.nav-bar ul {
	list-style: none;
	display: inline-flex;
	padding-top: 25px;
}

.nav-bar ul li {
	padding: 0 2px;
	text-decoration: none;
}

.nav-bar ul li a {
	text-decoration: none;
}

.particulars {
	display: flex;
	flex-direction: row;
	width: 80%;
	margin: 0 auto;
}

.form-elements {
	background: #4DD7FA;
	flex: 1;
	height: 500px;
	border: 2px solid black;
}

.songs {
	background: #FEFAC0;
	flex: 3;
	height: 500px;
	margin-left: 1%;
	border: 2px solid black;
	display: flex;
	flex-direction: column;
}

.songs h1 {
	padding-top: 10px;
	padding-left: 40px;
	margin-bottom: 0;
}

.songs ul {
	list-style: none;
	display: inline-flex;
}

.songs ul li {
	padding: 0 5px;
}
