body {
	display: flex;
	flex-direction: column;
	font-family: Arial;
}

.nav-bar {
	background: #FFB4B0;
	width: 80%;
	height: 100px;
	margin: 0 auto 10px auto;
	border: 2px solid black;
	display: flex;
}

.nav-bar ul {
	list-style: none;
	display: inline-flex;
	padding-top: 25px;
}

.nav-bar ul li {
	padding: 0 2px;
	text-decoration: none;
}

.nav-bar ul li a {
	text-decoration: none;
}

.particulars {
	display: flex;
	flex-direction: row;
	width: 80%;
	margin: 0 auto;
}

.form-elements {
	background: #4DD7FA;
	flex: 1;
	height: 500px;
	border: 2px solid black;
	padding-left: 4%;
	display: flex;
	flex-direction: column;
}

.form-elements select {
	width: 82%;
	height: 25px;
	border-radius: 8px;
	border: 1px solid black;
}

.slider {
	-webkit-appearance: none;
	width: 80%;
	border-radius: 5px;
	height: 8px;
	border: 1px solid black;
/*Need to style slider, currently rectangle, want a circle	*/
}

.songs {
	background: #FEFAC0;
	flex: 3;
	height: 500px;
	margin-left: 1%;
	border: 2px solid black;
	display: flex;
	flex-direction: column;
}

.songs h1 {
	padding-top: 10px;
	padding-left: 40px;
	margin-bottom: 0;
}

.songs ul {
	list-style: none;
	display: inline-flex;
}

.songs ul li {
	padding: 0 5px;
}

.left-column {
/*	flex: flex-start;
	flex-direction: column;
*/
	display: flex;
	flex-direction: column;
}

.right-column {
	/*flex: flex-end;*/
}
